<template>
    <div>
        <form @submit.prevent="addNote">
            <div class="form-group">
                <input v-model="title" class="form-control" type="text" name="title" placeholder="Title...">
                <textarea v-model="content" class="form-control" type="textarea" name="content" placeholder="Content..."></textarea>
                <b-button type="submit" class="btn" variant="success" block>Save Note</b-button>
            </div>
        </form>
    </div>
</template>


<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
export default {
    name: "AddNote",
    data() {
        return {
            title: '',
            content: ''
        }
    },

    methods: {
        addNote(){
            const newNote = {
                title: this.title,
                content: this.content
            }
            this.$emit('add-note', newNote);

            this.title = '';
            this.content = '';
        }
    }
}
</script>


<style scoped>

    input[type="text"] {
        /* flex: 10; */
        display: flex;
        flex-direction: column;
    }
    textarea {
        margin-top: 5px;
        height: 200px;
    }

    input[type="submit"] {
        flex: 2;
    }

    .btn {
        margin-top: 20px;
        /* background: gray; */
    }
</style>