<template>
    <div>
        <!--  -->
        <form @submit.prevent="editNote">
            <div class="form-group" v-bind:key="note._id" v-for="note in notes">
                <input v-model="note.title" class="form-control" type="text" name="title" placeholder="Title...">
                <textarea v-model="note.content" class="form-control" type="textarea" name="content" placeholder="Content..."></textarea>
                <b-button type="submit" class="btn" variant="success" block>Apply Changes</b-button>
            </div>
        </form>
    </div>
</template>


<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
export default {
    name: "EditNote",
    data() {
        return {
            title: '',
            content: ''
        }
    },

    props: ["notes"],

    methods: {
        editNote(){
            const editedNote = {
                title: this.title,
                content: this.content
            }
            console.log(editedNote)
            this.$emit('edited-note', editedNote);
        }
    }
}
</script>


<style scoped>

    input[type="text"] {
        display: flex;
        flex-direction: column;
    }
    textarea {
        margin-top: 5px;
        height: 200px;
    }

    input[type="submit"] {
        flex: 2;
    }

    .btn {
        margin-top: 20px;
    }
</style>