<template>
    <div class="container">
        <form @submit.prevent="logIn">
            <div class="col-lg-4 offset-lg-4 form-group py-5">
                <h1 class="text-center">LOGIN</h1>
                <label for="email">Email</label>
                <input class="form-control" type="text" name="email" @change="handleEmailChange">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" @change="handlePasswordChange">
                <p><router-link to="/signup">Not yet a member? Join Now!</router-link></p>
                <b-button type="submit" class="btn" variant="info" block>Login</b-button>
            </div>
        </form>
    </div>
</template>


<script>
import axios from 'axios';
export default {
    name: 'Login',
    data() {
        return {
            login: [],
            email: '',
            password: ''
        }
    },

    methods: {
        handleEmailChange (e) {
            this.email = e.target.value
        },

        handlePasswordChange (e) {
            this.password = e.target.value
        },

        async logIn(){
            const email = this.email
            const password = this.password
            axios.post('http://localhost:4000/login', {
                email,
                password
            })
            .then(res=>{
			sessionStorage.token = res.data.token;
			sessionStorage.user = JSON.stringify(res.data.user)
            this.$router.push('/home');
            })
        }
    }    
}
</script>

<style scoped>
    .btn {
        margin-top: 10px;
    }
    label {
        margin-top: 10px;
    }
    p {
        margin-top: 10px;
    }
    h1 {
        font-weight: bold;
    }
</style>