<template>
    <div class="note-item">
      <div class="col-lg-6 offset-lg-3">
        <b-card v-bind:class="{'is-complete':note.completed}">
          <b-card-header class="header">
            <h4>{{ note.title }}</h4>
          </b-card-header>
          <b-card-text>
            {{ note.content }}
          </b-card-text>
          <template v-slot:footer>
            <input type="checkbox" v-model="completed" @change="noteComplete">  Completed?
            <b-button @click="$emit('del-note', note._id)" class="del" variant="danger">Delete</b-button>
            <b-button class="edit" variant="info" @click="$emit('edit-note', note)">Edit</b-button>
          </template>
        </b-card>
      </div>
    </div>
</template>


<script>
import axios from 'axios';
export default {
  name: "NoteItem",
  props: ["note"],
  data(){
    return{
      id: this.note._id,
      completed: this.note.completed
    }
  },
  methods: {
    noteComplete(){
      const completed = !this.note.completed
      const id = this.note._id
      this.note.completed = !this.note.completed;

      axios.patch(`http://localhost:4000/updatecompletedbyid/${id}`, {
      completed
      })
      .then(res => this.notes = [this.notes, res.data])
      .catch (err => console.log(err))
    }      
  }
}
</script>


<style scoped>
  .note-item {
    display: flex;
    background: #f4f4f4;
    padding: 10px;
  }

  .is-complete {
    text-decoration: line-through;
    background-color: #ff0000;
    opacity: 0.7;
  }

  .del {
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
  }

  .edit {
    margin-right: 5px;
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
  }

  input[type="checkbox"]{
  -ms-transform: scale(2); 
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  font-weight: bolder;
  }

  .header {
    text-transform: uppercase;
    text-align: center;
  }
</style>