<template>
    <div>
        <div v-bind:key="note._id" v-for="note in notes">
            <NoteItem
                v-bind:note="note"
                v-on:del-note="$emit('del-note', note._id)"
                v-on:edit-note="$emit('edit-note', note)"
            />
        </div>
    </div>
</template>


<script>
import NoteItem from './NoteItem';
export default {
    name: "Notes",
    components: {
        NoteItem
    },
    props:["notes"]
    
}
</script>


<style scoped>

</style>