<template>
    <div class="container">
        <form @submit.prevent="signUp">
            <div class="col-lg-4 offset-lg-4 form-group py-5">
                <h1 class="text-center">SIGN UP</h1>
                <label for="name">Name</label>
                <input class="form-control" type="name" name="name" @change="handleName">
                <label for="email">Email</label>
                <input class="form-control" type="email" name="email" @change="handleEmail">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" @change="handlePassword">
                <p><router-link to="/">Already a member? Log In Now!</router-link></p>
                <b-button type="submit" class="btn" variant="info" block>Sign Up</b-button>
            </div>
        </form>
    </div>
</template>


<script>
import axios from 'axios';
export default {
    name: 'Login',
    data() {
        return {
            name: '',
            email: '',
            password: ''
        }
    },

    methods: {
        handleName (e) {
            this.name = e.target.value
        },

        handleEmail (e) {
            this.email = e.target.value
        },

        handlePassword (e) {
            this.password = e.target.value
        },

        signUp () {
            const name = this.name
            const email = this.email
            const password = this.password
            axios.post('http://localhost:4000/register', {
                name,
                email,
                password
            }).then(res=>console.log(res.data))
            this.$router.push('/');
        }
    }
    
}
</script>

<style scoped>
    body {
        outline: solid;
        outline-color: black;
    }
    .btn {
        margin-top: 10px;
    }
    label {
        margin-top: 10px;
    }
    p {
        margin-top: 10px;
    }
    h1 {
        font-weight: bold;
    }
</style>