<template>
    <div class="header">
        <img src="../../public/notes-icon.png">
        <h3>MyCURE Notes</h3>
        <ul class="nav-list">
            <li><router-link to="/home">MyNOTES</router-link></li>
            <li><router-link to="/about">ABOUT</router-link></li>
            <li><b-button class="btn" variant="danger" @click="signOut">SIGN OUT</b-button></li>        
        </ul>
    </div>
</template>

<script>
export default {
    name: 'Header',
    methods: {
        signOut() {
            sessionStorage.clear()
            this.$router.push('/')
        }

    }
}
</script>

<style scoped>
    .header {
        display: flex;
        background-color: #444;
        width: 100%;
        height: 100px;
        padding-top: 20px;
    }
    h3 {
        color: white;
        margin-left: 20px;
        margin-top: 15px;
        font-weight: bold;
    }
    img {
        height: 60px;
        width: 55px;
        margin-left: 20px;
    }
    .nav-list {
        margin-top: 10px;
        margin-left: 50%;
    }
    .nav-list > li {
        list-style-type: none;
        font-size: 20px;
        font-weight: bold;
        display: inline-block;
        padding: 5px 10px 0 15px;
    }
    .btn {
        font-weight: bold;
    }
    li a {
        text-decoration: none;
        color: white;
    }
    li a:hover {
        color: #999;
    }

</style>