<template>
  <div class="about">
    <Header />
    <h2>Sample Note Application </h2>
    <p>This serve as Technical Assessment Test for MyCure, Inc.</p>
  </div>
</template>

<script>  
import Header from '../layout/Header'
export default {
  name: 'About',
  components: {
    Header
  }
}
</script>

<style scoped>
  .about {
    text-align: center;
  }

  h2 {
    padding-top: 100px;
  }
</style>
