<template>
  <div id="app">
    <Header />
    <div class="col-lg-6 offset-lg-3 py-3">
      <b-dropdown text="FILTER BY..." variant="info" class="float-right">
        <b-dropdown-item @click.prevent="filterAll">All</b-dropdown-item>
        <b-dropdown-item @click.prevent="filterFinished">Finished</b-dropdown-item>
        <b-dropdown-item @click.prevent="filterUnfinished">Unfinished</b-dropdown-item>
      </b-dropdown>

      <b-button v-b-modal.modal-add variant="success">+ADD NOTE</b-button>
    </div>

    <div>
      <b-modal id="modal-add" title="ADD NOTE" hide-footer>
        <AddNote
          v-on:add-note="addNote"
        />
      </b-modal>

      <b-modal id="modal-edit" title="EDIT NOTE" hide-footer>
        <EditNote
          v-bind:notes="editNoteData"
          v-on:edited-note="saveEditedNote"
        />
      </b-modal>

      <Notes
        v-bind:notes="notes"
        v-on:del-note="deleteNote"
        v-on:edit-note="editNote"
      />
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import Header from '../layout/Header';
import AddNote from '../components/AddNote';
import EditNote from '../components/EditNote';
import Notes from '../components/Notes';

export default {
  name: 'Home',
  components: {
    Header,
    Notes,
    AddNote,
    EditNote
  },

  data() {
    return {
      notes: [],
      user: [],
      editNoteData:[]
    }
  },

  mounted(){
    if(sessionStorage.token){
      let user = JSON.parse(sessionStorage.user);
      if(user.isAdmin) {
        axios.get('http://localhost:4000/shownote')
          .then(res => {
            this.notes = res.data
          })
          this.user = user
        } else {
          let id = user.id
          axios.get(`http://localhost:4000/shownotebyuser/${id}`)
          .then(res => {
            this.notes = res.data
          })
        }
          this.user = user;
        } else {
        this.$router.push('/');
      }
  },

  methods: {    
    filterFinished(){
      this.notes = this.notes.filter(note => note.completed)
      console.log(this.notes)
    },

    filterUnfinished(){
      this.notes = this.notes.filter(note => !note.completed)
      console.log(this.notes)

    },

    filterAll(){
      event.preventDefault()
      return this.notes
    },

    addNote(newNote){
      const { title, content } = newNote;
      const user = JSON.parse(sessionStorage.user);
      console.log (user)
      axios.post('http://localhost:4000/addnote', {
        title,
        content,
        userId : user.id
      })
      .then(res => this.notes = [...this.notes, res.data])
      .catch (err => console.log(err))
      this.$bvModal.hide("modal-add")
    },

    saveEditedNote(){
      const data = this.editNoteData
      const extTitle = data.map(data => data.title)
      const extContents = data.map(data => data.content)
      const extIds = data.map(data => data._id)

      const title = extTitle.toString();
      const content = extContents.toString();
      const id = extIds.toString();

      axios.put(`http://localhost:4000/updatenotebyid/${id}`, {
        title,
        content
      })
      .then(res => this.notes = [...this.notes, res.data])
      .catch (err => console.log(err))
      location.reload()
      this.$bvModal.hide("modal-edit")
    },

    editNote(note){
      this.editNoteData = [note];
      this.$bvModal.show("modal-edit")
    },

    deleteNote(_id){
      axios.delete(`http://localhost:4000/deletenotebyid/${_id}`)
      .then(this.notes = this.notes.filter(note => note._id !== _id))
      .catch(err => console.log(err));
    }
  }
}
</script>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    background: #f4f4f4;
  }

  .btn {
    display: inline-block;
    border: none;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
  }

  .btn:hover {
    background: #999;
  }
</style>
